@import "tailwindcss";

:root {
    --color-btn-bg: rgb(100, 111, 198);
    --color-primary-color: rgb(108, 140, 225);
    --color-bg: rgb(0, 5, 16);
}

@theme {
    --color-btn: var(--color-btn-bg);
    --color-primary: var(--color-primary-color);
    --color-background: var(--color-bg);
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: var(--color-bg);
  font-family: 'Urbanist', sans-serif;
  color: white;
  overflow-x: hidden;
}

img {
  pointer-events: none;
}


.fade-in-bottom {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInBottom 0.8s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInTop 0.8s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}